ET/n8n/workflows/rss-ingestion-pipeline.json
{
  "name": "Jaegeren RSS Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 2 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Define RSS feeds to poll\nconst feeds = [\n  { source_slug: 'reuters', name: 'Reuters', url: 'https://feeds.reuters.com/reuters/worldNews' },\n  { source_slug: 'ft', name: 'Financial Times', url: 'https://ft.com/rss/home' },\n  { source_slug: 'nikkei', name: 'Nikkei Asia', url: 'https://asia.nikkei.com/rss' },\n  { source_slug: 'scmp', name: 'South China Morning Post', url: 'https://scmp.com/rss' }\n];\n\nreturn feeds.map(f => ({ json: f }));"
      },
      "id": "feed-list",
      "name": "Feed List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "read-rss",
      "name": "Read RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [440, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process RSS items into article records\nconst items = $input.all();\nconst sourceInfo = $('Feed List').first().json;\n\nconst articles = items\n  .filter(item => item.json.title && item.json.link)\n  .slice(0, 10)\n  .map(item => {\n    const content = (item.json['content:encoded'] || item.json.description || item.json.title).replace(/<[^>]*>/g, '').trim();\n    const excerpt = content.substring(0, 300);\n    \n    return {\n      json: {\n        id: `${sourceInfo.source_slug}-${Buffer.from(item.json.link).toString('base64').substring(0, 20)}`,\n        article_id: crypto.randomUUID(),\n        title: item.json.title,\n        url: item.json.link,\n        content: content,\n        excerpt: excerpt,\n        source: sourceInfo.name,\n        source_slug: sourceInfo.source_slug,\n        published_at: item.json.pubDate || new Date().toISOString()\n      }\n    };\n  });\n\nreturn articles.length > 0 ? articles : [{ json: { _skip: true } }];"
      },
      "id": "process-articles",
      "name": "Process Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-empty",
      "name": "Filter Empty",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jaegeren-articles-8xhwcso.svc.aped-4627-b74a.pinecone.io/records/namespaces/articles/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([{ id: $json.id, content: $json.content, title: $json.title, source: $json.source, source_slug: $json.source_slug, published_at: $json.published_at, url: $json.url, article_id: $json.article_id }]) }}",
        "options": { "batching": { "batch": { "batchSize": 5, "batchInterval": 1000 } } }
      },
      "id": "upsert-pinecone",
      "name": "Upsert to Pinecone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PINECONE_CREDENTIAL_ID",
          "name": "Pinecone API Key"
        }
      }
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [{ "node": "Feed List", "type": "main", "index": 0 }]
      ]
    },
    "Feed List": {
      "main": [
        [{ "node": "Read RSS", "type": "main", "index": 0 }]
      ]
    },
    "Read RSS": {
      "main": [
        [{ "node": "Process Articles", "type": "main", "index": 0 }]
      ]
    },
    "Process Articles": {
      "main": [
        [{ "node": "Filter Empty", "type": "main", "index": 0 }]
      ]
    },
    "Filter Empty": {
      "main": [
        [{ "node": "Upsert to Pinecone", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Polls RSS feeds every 2 hours, processes articles, and upserts them to Pinecone with embeddings"
  }
}
