ET/n8n/workflows/rss-ingestion-pipeline.json
{
  "name": "Jaegeren RSS Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 2 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "{{ $env.SUPABASE_URL }}/rest/v1/sources?select=id,slug&is_active=eq.true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-sources",
      "name": "Fetch Source IDs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [110, 0],
      "notes": "Dynamically fetch source slug-to-ID mapping from Supabase instead of hardcoding UUIDs."
    },
    {
      "parameters": {
        "jsCode": "// Build source slug -> ID map from Supabase, then define feeds\nconst sourcesData = $('Fetch Source IDs').first().json;\nconst sourceRows = Array.isArray(sourcesData) ? sourcesData : (sourcesData.body || []);\nconst sourceMap = {};\nfor (const s of sourceRows) { sourceMap[s.slug] = s.id; }\n\nconst feeds = [\n  { source_slug: 'scmp', name: 'South China Morning Post', url: 'https://www.scmp.com/rss/91/feed' },\n  { source_slug: 'bbc', name: 'BBC World News', url: 'https://feeds.bbci.co.uk/news/world/rss.xml' },\n  { source_slug: 'nyt', name: 'New York Times World', url: 'https://rss.nytimes.com/services/xml/rss/nyt/World.xml' },\n  { source_slug: 'aljazeera', name: 'Al Jazeera', url: 'https://www.aljazeera.com/xml/rss/all.xml' },\n  { source_slug: 'ft', name: 'Financial Times', url: 'https://www.ft.com/world?format=rss' },\n  { source_slug: 'berlingske', name: 'Berlingske', url: 'https://www.berlingske.dk/content/rss' },\n  { source_slug: 'borsen', name: 'Borsen', url: 'https://borsen.dk/rss/investor' },\n  { source_slug: 'economist-finance', name: 'The Economist (Finance)', url: 'https://www.economist.com/finance-and-economics/rss.xml' },\n  { source_slug: 'economist-europe', name: 'The Economist (Europe)', url: 'https://www.economist.com/europe/rss.xml' },\n  { source_slug: 'economist-asia', name: 'The Economist (Asia)', url: 'https://www.economist.com/asia/rss.xml' },\n  { source_slug: 'economist-business', name: 'The Economist (Business)', url: 'https://www.economist.com/business/rss.xml' },\n  { source_slug: 'eurostat', name: 'Eurostat', url: 'https://ec.europa.eu/eurostat/api/dissemination/catalogue/rss/en/statistics-update.rss' }\n];\n\nreturn feeds.map(f => ({\n  json: { ...f, source_id: sourceMap[f.source_slug] || sourceMap[f.source_slug.split('-')[0]] || '' }\n}));"
      },
      "id": "feed-list",
      "name": "Feed List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [330, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "read-rss",
      "name": "Read RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [550, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process RSS items into article records\nconst items = $input.all();\nconst sourceInfo = $('Feed List').first().json;\n\nconst articles = items\n  .filter(item => item.json.title && item.json.link)\n  .slice(0, 10)\n  .map(item => {\n    const content = (item.json['content:encoded'] || item.json.description || item.json.title)\n      .replace(/<[^>]*>/g, '').trim();\n\n    // FNV-1a hash for Pinecone dedup ID\n    const urlBytes = new TextEncoder().encode(item.json.link);\n    let h = 0x811c9dc5;\n    for (const b of urlBytes) { h ^= b; h = Math.imul(h, 0x01000193); }\n    const urlHash = Math.abs(h).toString(16).padStart(8, '0');\n\n    // Deterministic UUID from URL hash (for Supabase dedup)\n    const pad = (s, n) => s.padStart(n, '0').slice(0, n);\n    const h1 = Math.abs(h).toString(16);\n    const h2 = Math.abs(h >>> 4).toString(16);\n    const h3 = Math.abs(h >>> 8).toString(16);\n    const h4 = Math.abs(h >>> 12).toString(16);\n    const h5 = Math.abs(h >>> 16).toString(16);\n    const articleId = `${pad(h1,8)}-${pad(h2,4)}-4${pad(h3,3)}-8${pad(h4,3)}-${pad(h5,12)}`;\n\n    return {\n      json: {\n        pinecone_id: `${sourceInfo.source_slug}-${urlHash}`,\n        article_id: articleId,\n        title: item.json.title.trim(),\n        url: item.json.link.trim(),\n        content: content.substring(0, 2000),\n        excerpt: content.substring(0, 300),\n        source: sourceInfo.name,\n        source_slug: sourceInfo.source_slug,\n        source_id: sourceInfo.source_id,\n        published_at: item.json.pubDate || new Date().toISOString()\n      }\n    };\n  });\n\nreturn articles.length > 0 ? articles : [{ json: { _skip: true } }];"
      },
      "id": "process-articles",
      "name": "Process Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [770, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-empty",
      "name": "Filter Empty",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [990, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jaegeren-articles-8xhwcso.svc.aped-4627-b74a.pinecone.io/records/namespaces/articles/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $json.pinecone_id, content: $json.content, title: $json.title, source: $json.source, source_slug: $json.source_slug, published_at: $json.published_at, url: $json.url, article_id: $json.article_id }) }}",
        "options": { "batching": { "batch": { "batchSize": 1, "batchInterval": 500 } } }
      },
      "id": "upsert-pinecone",
      "name": "Upsert to Pinecone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1210, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zahj6NSfAvBycdRM",
          "name": "Pinecone API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.SUPABASE_URL }}/rest/v1/articles",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $json.article_id, source_id: $json.source_id, title: $json.title, url: $json.url, content: $json.content, excerpt: $json.excerpt, published_at: $json.published_at, embedding_id: $json.pinecone_id }) }}",
        "options": { "batching": { "batch": { "batchSize": 1, "batchInterval": 300 } } }
      },
      "id": "upsert-supabase",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1210, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rxTJneeMRIo3QxCM",
          "name": "Supabase Service Role Key"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [{ "node": "Fetch Source IDs", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Source IDs": {
      "main": [
        [{ "node": "Feed List", "type": "main", "index": 0 }]
      ]
    },
    "Feed List": {
      "main": [
        [{ "node": "Read RSS", "type": "main", "index": 0 }]
      ]
    },
    "Read RSS": {
      "main": [
        [{ "node": "Process Articles", "type": "main", "index": 0 }]
      ]
    },
    "Process Articles": {
      "main": [
        [{ "node": "Filter Empty", "type": "main", "index": 0 }]
      ]
    },
    "Filter Empty": {
      "main": [
        [
          { "node": "Upsert to Pinecone", "type": "main", "index": 0 },
          { "node": "Upsert to Supabase", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Polls RSS feeds every 2 hours, processes articles, and dual-writes to Pinecone (vector search) and Supabase (frontend display)"
  }
}
